<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension id="XlfErrorParser" name="%XLFErrorParser.name" point="org.eclipse.cdt.core.ErrorParser">
		<errorparser
				class="org.eclipse.cdt.core.errorparsers.RegexErrorParser"
				id="org.eclipse.photran.errorparsers.xlf.XLFCompilerErrorParser"
				name="%XLFErrorParser.name">
			<pattern regex="%XLFErrorParser.pattern.error" severity="Error" file-expr="$1" line-expr="$3" description-expr="$5" eat-processed-line="true"/>
			<pattern regex="%XLFErrorParser.pattern.warning" severity="Warning" file-expr="$1" line-expr="$3" description-expr="$5" eat-processed-line="true"/>
			<pattern regex="%XLFErrorParser.pattern.info" severity="Info" file-expr="$1" line-expr="$3" description-expr="$5" eat-processed-line="true"/>
		</errorparser>
	</extension>
</plugin>
